* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f6;
  color: #10152c;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0px 0px 0px 24px;
}

ul li::marker {
  color: #5671ff;
  font-size: 1.5em;
}

.fi {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.fi-sm {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row__align-center {
  align-items: center;
}

.row__right {
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.column__right {
  align-items: flex-end;
}

.gap-4 {
  gap: 4px !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-16 {
  gap: 16px !important;
}

.gap-24 {
  gap: 24px !important;
}

.w-100 {
  width: 100%;
}

.text-bold {
  font-weight: 600 !important;
}

.text-headline-1 {
  font-family: "Montserrat", serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
}

.text-headline-2 {
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
}

.text-body-1 {
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
}

.text-body-2 {
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.text-nowrap {
  text-wrap: nowrap;
}

.text-right {
  text-align: end;
}

.text-primary {
  color: #5671ff !important;
}

.text-primary-gradient {
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-light {
  color: #ffffff !important;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.header {
  position: relative;
}

.header__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1080px;
  width: 100%;
}

.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 1410px;
  width: 100%;
  height: 88px;
  padding: 8px 24px;
  gap: 10px;
  border-radius: 0px 0px 32px 32px;
  background: #eef1ff33;
}

.header__logo {
  width: 148px;
  height: 40px;
}

.header__body {
  display: flex;
  flex-direction: column;
  max-width: 1410px;
  width: 100%;
}

.header__title-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  padding-bottom: 280px;
}

.header__image {
  position: absolute;
  width: 275px;
  height: 225px;
  right: 80px;
  top: -50px;
  transform: rotate(26deg);
}

.header__title {
  font-family: "Montserrat", serif;
  font-size: 144px;
  font-weight: 800;
  line-height: 144px;
  background: linear-gradient(97.88deg, #c1c3ff 0%, #f5f5f5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 114px;
  padding: 24px 10px;
  gap: 10px;
  background: #fbfbfb;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1f1f1f66;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  pointer-events: none;
}

.menu--active {
  display: flex;
  pointer-events: auto;
  transform: translateX(0);
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #eef1ff33;
  backdrop-filter: blur(80px);
  width: 260px;
  height: 640px;
  padding: 40px 16px 80px 16px;
  gap: 40px;
  height: 100%;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu__link {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-decoration: none;
  color: #f7f7f7;
}

.menu__action {
  padding: 16px 32px 0px 0px;
}

.repeating-container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.repeating-text {
  display: inline-block;
  font-family: "Montserrat", serif;
  font-size: 23px;
  line-height: 23px;
  font-weight: 800;
  color: #5671ff99;
  white-space: nowrap;
  display: inline-block;
  animation: run 10s linear infinite;
  will-change: transform;
  margin-right: 24px;
}

.repeating-text::after {
  content: "/";
  margin-left: 24px;
}

@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 24px));
  }
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav__link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-decoration: none;
  text-align: center;
  color: #f5f5f5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 4px;
  background-color: #f5f5f5;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav__link:hover {
  font-weight: 700;
  transform: scale(1.05);
}

.nav__link:hover::after {
  width: 16px;
  left: calc(50% - 8px);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  padding: 16px 48px;
  gap: 10px;
  border-radius: 200px;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", serif;
  transition: all 300ms ease-out;
  cursor: pointer;
}

.button__primary {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: #ffffff;
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
  box-shadow: 0px 20px 31.4px -13px #373aff66;
}

.button__primary:hover {
  box-shadow: none;
}

.button__light {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  background: #fbfbfb;
  box-shadow: 0px 20px 31.4px -13px #373aff66;
}

.button__light-title {
  background: linear-gradient(97.88deg, #5671ff 0%, #8466ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu-button {
  display: none;
}

.button__icon {
  padding: 8px 16px !important;
  height: fit-content !important;
  border-radius: 100px;
  background: #f0edf64d;
  color: #ffffff;
}

.image-wrapper {
  width: 450px;
  height: 450px;
  padding: 16px;
  border-radius: 32px;
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
}

.image {
  width: 420px;
  height: 420px;
  border-radius: 32px;
  object-fit: cover;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.link__ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 48px;
  overflow-wrap: anywhere;
}

.link__nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0px;
  gap: 160px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1410px;
  width: 100%;
}

.start {
}

.start__body {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.start__body-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.start__body-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.start__body-list-item {
  display: flex;
  gap: 16px;
}

.start__icon {
  position: relative;
}

.start__icon::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  top: 38px;
  right: 15px;
  background-color: #5671ff;
}

.start__body-list-item:last-child .start__icon::after {
  display: none;
}

.start__button-wrapper {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 8px;
  border-radius: 32px;
  color: #10152c;
  background: #fbfbfb;
  overflow: hidden;
}

.panel__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}

.panel__primary {
  color: #ffffff;
  background: linear-gradient(0deg, rgba(86, 113, 255, 0.1), rgba(86, 113, 255, 0.1)),
    linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
}

.panel__secondary {
  padding: 32px;
  gap: 24px;
  background: #eef1ff;
}

.panel__light {
  padding: 32px;
  gap: 16px;
}

.way {
}

.way__body,
.way__body-column {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.way__body-column {
  flex-direction: column;
}

.way__image {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 295px;
  height: 295px;
  z-index: 0;
  object-fit: contain;
}

.product {
  display: flex;
  justify-content: center;
  background: #fbfbfb;
  padding: 60px 0px 120px;
  gap: 10px;
}

.product__body {
  align-items: center;
  gap: 40px;
  width: 100%;
}

.product__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1165px;
}

.product__card {
  flex-direction: row;
}

.product__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__card-image {
  width: 120px;
  height: 120px;
}

.pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  border-radius: 40px;
  background: #5671ff;
  color: #fbfbfb;
}

.community__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.community__card-ghost {
  display: flex;
  flex-direction: column;
  gap: 38px;
  max-width: 570px;
}

.community__card-primary {
  max-width: 690px;
  gap: 64px;
}

.community__card-body {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.community__card-image {
  width: 72px;
  height: 72px;
  padding: 16px;
  border-radius: 40px;
  background: #fbfbfb;
  object-fit: none;
}

.media__body {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.media__column,
.media__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.media__list-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.media__list-item-icon {
  width: 72px;
  height: 72px;
  padding: 8px;
  border-radius: 24px;
  background: #ffffff;
  object-fit: contain;
}

.worth {
  display: flex;
  justify-content: center;
  padding: 60px 0px 120px 0px;
  gap: 10px;
  background: linear-gradient(97.88deg, #5671ff 0%, #8466ff 100%);
  color: #fbfbfb;
}

.principles__title,
.principles__title-decorate {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.worth__image-wrapper {
  width: 64px;
  height: 64px;
  padding: 16px;
  border-radius: 100px;
  background: #fbfbfb33;
}

.worth__divider {
  border: 4px solid #fbfbfb;
  width: 100%;
}

.worth__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.worth__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.worth__card {
  flex: 1;
  height: fit-content;
}

.worth__card-image {
  width: 128px;
  height: 128px;
}

.achievement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.achievement__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.achievement__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  row-gap: 40px;
  column-gap: 32px;
  z-index: 1;
}

.achievement__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.achievement__panel {
  position: relative;
  width: 210px;
  height: 450px;
  border-radius: 25.24px;
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
  grid-column: 3;
  grid-row: 1 /-1;
}

.achievement__image {
  position: absolute;
  top: -25px;
  left: -150px;
  width: 509px;
  height: 509px;
}

.achievement__panel--relative {
  position: relative;
  left: 242px;
  top: 0px;
  height: 100%;
  margin-right: -50vw;
  border-radius: 32px;
  background: #5671ff33;
}

.partner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.partner__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.partner__content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
}

.partner__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: calc(100% / 2 - 16px);
}

.partner__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.partner__image {
  width: 122px;
}

.future {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.future__title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.future__body {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.future__panel {
  justify-content: space-between;
  width: 100%;
}

.future__panel-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.future__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.future__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.future__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 100px;
  background: #5671ff;
  color: #ffffff;
}

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact__content {
  gap: 4px;
  width: 100%;
}

.contact__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 32px;
  width: 100%;
}

.contact__image {
  width: 100%;
  max-width: 565px;
  height: auto;
  max-height: 505px;
}

.contact__pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 40px;
  gap: 16px;
  border-radius: 32px;
  color: #fbfbfb;
}

.contact__pill-body {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.contact__pill-primary {
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
}

.contact__pill-secondary {
  justify-content: space-between;
  background: #5671ff;
}

.contact__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.contact__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__advertisement {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column__icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 48px;
  border-radius: 24px;
  background: #fbfbfb33;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfbfb;
  padding: 60px 0px 120px 0px;
  gap: 10px;
  margin-top: -60px;
}

.footer {
  gap: 55px;
}

.footer__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}

.footer__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
  padding: 32px;
  color: #fbfbfb;
  background: linear-gradient(97.88deg, #5671ff 0%, #5671ff 100%);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background 300ms ease-in-out, box-shadow 300ms ease-in-out;
  text-decoration: none;
  min-height: 305px;
}

.footer__panel:hover {
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
  box-shadow: 0px 20px 31.4px -13px #373aff66;
}

.footer__image {
  width: 40px;
  height: 40px;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 114px;
  padding: 24px 10px;
  gap: 10px;
  background: linear-gradient(97.88deg, #3773ff 0%, #8c40ff 100%);
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .fi-sm {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  .text-headline-1 {
    font-size: 40px;
    line-height: 48px;
  }

  .text-headline-2 {
    font-size: 24px;
    line-height: 29px;
  }

  .text-body-1 {
    font-size: 24px;
    line-height: 29px;
  }

  .text-body-2 {
    font-size: 16px;
    line-height: 24px;
  }

  .button {
    height: 58px;
    padding: 16px 40px;
  }

  .button__primary {
    font-size: 16px;
    line-height: 19.5px;
  }

  .button__light {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
  }

  .repeating-text {
    font-size: 16px;
    line-height: 16px;
    animation: run-small 5s linear infinite;
    margin-right: 16px;
  }

  .repeating-text::after {
    margin-left: 16px;
  }

  @keyframes run-small {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 16px));
    }
  }

  .image-wrapper {
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 24px;
  }

  .image {
    max-width: 420px;
    width: 100%;
    height: auto;
    border-radius: 24px;
  }

  .header__content {
    height: 100vh;
    padding: 0px 16px;
  }

  .header__top {
    height: auto;
    padding: 16px;
  }

  .header__logo {
    width: 130px;
    height: 32px;
  }

  .nav {
    display: none;
  }

  .header__image {
    width: 170px;
    height: 140px;
    right: -45px;
    top: 120px;
  }

  .header__title-wrapper {
    padding-bottom: calc(100vh / 2 - 72px);
    max-width: 270px;
  }

  .header__title {
    font-size: 48px;
    line-height: 48px;
  }

  .header__bottom {
    height: auto;
  }

  .menu-button {
    display: block;
  }

  .article {
    padding: 80px 0px;
    gap: 80px;
  }

  .container {
    gap: 40px;
    padding: 0px 16px;
  }

  .start {
    gap: 40px;
    max-width: 100%;
    padding: 0px 16px;
  }

  .start__body {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .start__body-content {
    gap: 40px;
  }

  .start__body-list {
    gap: 24px;
  }

  .panel {
    padding: 24px;
    border-radius: 24px;
  }

  .panel__secondary {
    padding: 24px;
    gap: 8px;
  }

  .panel__light {
    padding: 24px;
    gap: 8px;
  }

  .way__body,
  .way__body-column {
    flex-direction: column;
    gap: 16px;
  }

  .way__body-column {
    gap: 8px;
  }

  .way__panel {
    min-height: 470px;
  }

  .way__image {
    bottom: -24px;
    right: 0;
    width: 239px;
    height: 239px;
  }

  .product {
    padding: 40px 0px 60px;
    gap: 10px;
  }

  .product__body {
    padding: 0px 16px;
    gap: 32px;
  }

  .product__title {
    gap: 8px;
  }

  .product__content {
    gap: 32px;
    max-width: 100%;
  }

  .product__card {
    flex-direction: column;
  }

  .product__card-wrapper {
    gap: 40px;
  }

  .product__card-image {
    width: 105px;
    height: 105px;
  }

  .community__body {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 24px;
  }

  .community__card-ghost {
    gap: 16px;
    max-width: 100%;
  }

  .community__card-primary {
    max-width: 100%;
    gap: 40px;
  }

  .community__card-body {
    flex-direction: row;
    gap: 40px;
  }

  .community__card-image {
    width: 64px;
    height: 64px;
  }

  .pill {
    padding: 8px 24px;
    border-radius: 100px;
  }

  .link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
    overflow-wrap: anywhere;
  }

  .media__body {
    flex-direction: column;
  }

  .media__list-item {
    gap: 16px;
  }

  .media__list-item-icon {
    width: 64px;
    height: 64px;
  }

  .worth {
    padding: 40px 0px 80px 0px;
  }

  .principles__title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .principles__title-decorate {
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  .worth__image-wrapper {
    width: 48px;
    height: 48px;
    padding: 16px;
  }

  .worth__image-wrapper i {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  .worth__divider {
    border: 2px solid #fbfbfb;
  }

  .worth__list {
    flex-direction: column;
    gap: 16px;
  }

  .worth__card {
    flex: none;
    height: auto;
  }

  .worth__card-image {
    width: 128px;
    height: 128px;
  }

  .achievement__content {
    grid-template-rows: repeat(6, auto);
    row-gap: 24px;
    column-gap: 8px;
  }

  .achievement__item {
    gap: 4px;
  }

  .achievement__item:nth-last-child(2) {
    grid-column: 1 / -1;
  }

  .achievement__panel {
    width: 132px;
    min-height: 265px;
    height: 100%;
    border-radius: 16px;
    grid-column: 2;
    grid-row: 3 / 6;
  }

  .achievement__image {
    top: 0px;
    left: -65px;
    width: 265px;
    min-height: 265px;
    height: 100%;
  }

  .achievement__panel--relative {
    display: none;
  }

  .partner__body-wrapper {
    max-width: 100%;
  }

  .partner__content {
    flex-direction: column;
  }

  .partner__list {
    flex: none;
    max-width: 100%;
  }

  .partner__item {
    gap: 12px;
  }

  .partner__image {
    width: 80px;
  }

  .future__title {
    width: 100%;
  }

  .future__body {
    flex-direction: column;
    gap: 24px;
  }

  .future__panel {
    gap: 40px;
  }

  .future__list {
    gap: 8px;
  }

  .future__item {
    gap: 8px;
  }

  .future__item-icon {
    width: 24px;
    height: 24px;
    padding: 8px;
  }

  .contact__content {
    gap: 40px;
  }

  .contact__body {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .contact__advertisement {
    align-items: center;
    gap: 12px;
  }

  .contact__image {
    width: 288px;
    height: 240px;
  }

  .contact__pill {
    padding: 12px 24px 12px 12px;
    gap: 8px;
    border-radius: 24px;
    width: 100%;
  }

  .contact__pill-body {
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    width: 100%;
  }

  .contact__list-wrapper {
    gap: 16px;
  }

  .contact__list {
    gap: 8px;
  }

  .column__icon-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 64px;
    height: 100%;
  }

  .footer__wrapper {
    padding: 40px 0px 80px 0px;
    margin-top: -40px;
  }

  .footer {
    gap: 40px;
  }

  .footer__body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 16px;
  }

  .footer__panel {
    border-radius: 24px;
    padding: 24px;
    gap: 60px;
    min-height: fit-content;
  }

  .footer__bottom {
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header__content {
    padding: 0px 24px;
  }

  .header__image {
    width: 250px;
    height: 250px;
    right: -0px;
    top: 200px;
  }

  .header__title-wrapper {
    padding-bottom: calc(100vh / 2 - 72px);
    max-width: 570px;
  }

  .header__title {
    font-size: 88px;
    line-height: 88px;
  }

  .container {
    padding: 0px 24px;
  }

  .way__panel {
    min-height: 300px;
  }

  .footer__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1450px) {
  .header__content {
    padding: 0px 24px;
  }

  .header__image {
    width: 250px;
    height: 250px;
    right: 200px;
    top: 300px;
  }

  .header__title-wrapper {
    padding-bottom: calc(100vh / 2 - 216px);
    max-width: 950px;
  }

  .container {
    padding: 0px 24px;
  }

  .community__card-body {
    gap: 32px;
  }

  .footer__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
